.navbar {
    background-color: rgba(12, 66, 62, 0.90);
    font-family:  'Alegreya';
    position: fixed;
    z-index: 1000;
    width: 100vw;
}

.nav-link {
    color: #E0E789;
    margin-right: 3vw;
}

.nav-link:hover {
    color: #E67032;
}

body {
    background-color: #0C423E;
    font-family:'Alegreya';
    font-size: 20px;
    color: aliceblue;
    position: relative;
    overflow-y: scroll;
}

.header {
    padding-top: 60px;
}

.urbanature {
    color: #E67032;
    font-size: 15vw;
}

.lettren {
    color: #E0E789;
}

.textintro {
    padding-bottom: 50px;
    padding-top: 10px;
    color: #E67032;
    text-align: justify;
}

.jardin {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    min-height: 60vh;
    position: relative;
}
.textiphone {
    padding-bottom: 30px;
    padding-top:100px;
    color :aliceblue;
    text-align: justify;
}
.rowButton{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.iphone {
  width: 50%;
  padding-bottom: 100px;
  padding-top: 0px;
}

.appstorebadge {
    width: 100%;
}
.appstorebadge:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-property: transform;
}
.googleplaybadge {
    width: 100%;
}
.googleplaybadge:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-property: transform;
}
.googleplaybadge {
    width: 100%;
}
.badgewebapp {
    width: 70%;
}
.badgewebapp:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-property: transform;
}

.lienwebapp{
    text-align: center;
}
.col-9{
    width: 40%;
}
.application {
    color: #E67032;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 50px;

}

.titredecouvrir {
    font-style:  italic;
    padding-top: 0px;
    /*Bien en large BUT en col xs... le texte est collé à l'image */
    color: #E0E789;
}

/*
.imgdecouvrir {
    width:200px;
}
*/

.textedecouvrir {
    color :aliceblue;
    padding-top: 10px;
    text-align: justify;
}

.explorer {
    padding-top: 50px;
    padding-bottom: 50px;
}
.titreexplorer {
    font-style:  italic;
    color: #E0E789;
    padding-top: 50px;
}

.texteexplorer {
    color :aliceblue;
    padding-top: 10px;
    text-align: justify;
}

.titreparcourir {
    font-style:  italic;
    color: #E0E789;
    padding-top: 50px;
}

.texteparcourir {
    color : aliceblue;
    text-align: justify;
}

h2 {
    color: #E67032;
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 50px;

}

.quititle {
    color: #0C423E;
}

.textevert {
    color: #0C423E;
}

.fonctionnalites {
    padding-bottom: 80px;
}

.box {
    border-radius: 2px;

}

.logo {
    width: 5vw;
}

.rouge {
    color:#E0E789;
    font-style: italic;
}

.blanc {
    font-style: italic;
    color: #E0E789;
}

/*.rowButton button {
    border: 0.5px;
    border: solid;
    border-radius: 10px;
    border-color: grey;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    height: 4.5vw;
    width: 15vw;
    z-index:1000;
}

.rowButton button:hover {
    background-color:white;
    color:black;
    transition-duration:0.5s;
    transition-property: background-color, color;
}*/

.linkUrba {
    color: E0E789;
}

.who {
    text-align: justify;
}

.footer-distributed {
  background-color: #E67032;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-urbanature {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 30%;
}

.footer-distributed .footer-center i {
  background-color: #E67032;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #E0E789;
}



@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}


.container a{
color: #E0E789;
}